body {
	text-align: center;
	background-color: #FFFFFF;
	margin: 0px;
}
h1 {
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	font-family: "Raleway", sans-serif;
	margin: 0px;

}

h2 {
	color: #0D2C40;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
p {
	font-family: "Droid Serif", serif;
	font-size: 18px;
	line-height: 26px;
}
a {
	color: #FFFFFF;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration-line: none;
	margin: 0px 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-bottom: 2px solid #FFFFFF;
}
nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px;
}
main {
	width: 850px;
	margin: 35px auto;
}
img {
	margin: 40px 8px 0;
}
header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}
footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}
.message {
	font-family: "Raleway", sans-serif;
	float: right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
}
